h1, h2 {
    text-align: center;
    color: green;
    text-shadow:  green 1px 1px;
}

body {
    background-color: pink;
}

div {
    border-color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

form {
    border-color: black;
    color: black;
    padding: 10px;
    border-style: solid black;
    
}

p {
    font-size: large;
    font-style: italic;
    font: 200;
}

img {
    border-style: solid;

}

